<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="app.home">Wiren Board Web UI</a>

    <p class="navbar-text navbar-right connection-status">
      <span  class="" ng-class="'label label-danger'">Disconnected</span>
    </p>
  </div>

  <div class="nav navbar-nav navbar-right">
  </div>

  <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li ui-sref-active="active">
        <a ui-sref="app.home"><i class="glyphicon glyphicon-cog"></i> Home</a>
      </li>

      <li ui-sref-active="active" class="list-menu">
        <a ui-sref="app.dashboards"><i class="glyphicon glyphicon-dashboard"></i> Dashboards</a>
        <a href="javascript:;" data-toggle="collapse" data-target="#dashboards-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
        <ul id="dashboards-menu" class="collapse">
          <li ng-repeat="dashboard in {a:1, b:2, c:3}" dashboard-menu-item>
            <a ui-sref="app.dashboards">Dashboard X</a>
          </li>
        </ul>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.devices"><i class="glyphicon glyphicon-cog"></i> Devices</a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.widgets"><i class="glyphicon glyphicon-list-alt"></i> Widgets</a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.history"><i class="glyphicon glyphicon-stats"></i> History</a>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.scripts"><i class="glyphicon glyphicon-file"></i> Scripts</a>
      </li>

      <li ui-sref-active="active" class="list-menu config-menu">
        <a ui-sref="app.configs"><i class="glyphicon glyphicon-file"></i> Configs</a>
        <a href="javascript:;" data-toggle="collapse" data-target="#configs-menu"><i class="glyphicon glyphicon-menu-down"></i></a>
        <ul id="configs-menu" class="collapse">
          <li ng-repeat="config in getConfigs()">
            <a ui-sref="app.configs">
              <span class="glyphicon glyphicon-alert"></span>
            </a>
          </li>
        </ul>
      </li>

      <li ui-sref-active="active">
        <a ui-sref="app.settings"><i class="glyphicon glyphicon-wrench"></i> Settings</a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>
